.link {
	cursor: pointer;
}

.flex-column{
	flex-direction: column !important;
}

.flex{
	@include breakpoint('<=small') {
		flex-direction: column !important;
	}
	display:flex;

	.sb {
		justify-content: space-between;
	}
}